# FastAPI + Server
fastapi
uvicorn[standard]

# LangChain Core
langchain
langchain-core
langchain-community

# Text Splitters
langchain-text-splitters

# Embeddings
langchain-huggingface

# Google Gemini
langchain-google-genai

# Vector DB
faiss-cpu

# PDF Loader
pypdf

# Environment Variables
python-dotenv

# Optional but recommended
tqdm

streamlit 
requests