#langchain
langchain
langchain-core

# Gemini Integration
langchain-google-genai

# Environment Variable Management
python-dotenv

langchain-community 
langchain-text-splitters
langchain-huggingface 
faiss-cpu 
pypdf

